<div class="team">
  <div class="container">
    <img src="img/team-figure.svg" alt="" class="team__figure" aria-hidden="true">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Максим Золотарев" class="team__img">
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team/team-2.jpg" alt="Максим Золотарев" class="team__img">
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team/team-3.jpg" alt="Максим Золотарев" class="team__img">
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team/team-4.jpg" alt="Максим Золотарев" class="team__img">
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team/team-5.jpg" alt="Максим Золотарев" class="team__img">
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team/team-6.jpg" alt="Максим Золотарев" class="team__img">
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
  </div>
</div>
